*{
	margin: 0;
	padding: 0;
}

html,
body{
	height: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
}

header{
	display: flex;
	background: rgba(79,79,79,0.4);
}

.limbo{
	align-items: center;
	display: flex;
	padding: 1rem;
}

.perfil{
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-right: 2%;
	flex: 1;
}

body nav{
	margin-top: 3%;
	background: rgba(255,255,255,0.8);
	display: flex;
	padding: 0.2rem 1rem;
	box-shadow: 3px 3px 5px;
}

nav li{
	padding: 0.5rem;
	list-style: none;
	display: inline-block;
	margin-right: 1rem;
}